@page "/Customers"

@using PizzaStoreModels;


@inject HttpClient http

<h3>Customers</h3>

<h1>Index</h1>

<p>
    <a href asp-action="Customer">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                Address
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                PostalCode
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in CustomerList)
        {
            <tr>
                <td>
                   @customer.FirstName
                </td>
                <td>
                    @customer.LastName
                </td>
                <td>
                   @customer.Address
                </td>
                <td>
                    @customer.City
                </td>
                <td>
                    @customer.State
                </td>
                <td>
                    @customer.PostalCode
                </td>
                <td>
                    <a href="@($"CustomerEdit/{customer.CustomerId}")">Edit</a>
                    <a href="@($"CustomerDetails/{customer.CustomerId}")">Details</a>
                    <a @onclick="@( () => DeleteCustomer(customer.CustomerId))"
                       @onclick:preventDefault="true">Delete</a> 

                </td>
            </tr>
        }
    </tbody>
</table>



@code {
    public List<CustomerViewModel>? CustomerList { get; set; } = new List<CustomerViewModel>();


    protected override async Task OnInitializedAsync()
    {


        CustomerList = await http.GetFromJsonAsync<List<CustomerViewModel>>("api/Customers");


        await base.OnInitializedAsync();
    }

    private void DeleteCustomer(int CustomerId)
    {
        
    }

}

